@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./font.css");

:root {
  --primary-color: #334155;
  --secondary-color: #64748b;
  --hover-primary-color: #475569;
  --hover-secondary-color: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: iranyekan !important;
  background-color: #0f172a;
  color: #feffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea {
  font-family: iranyekan !important;
}

button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #000;
}
button:disabled:hover {
  background-color: #ccc;
}
